header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;

    ul{
        display: flex;
        list-style: none;
        gap: 30px;
    }
}
.active{
    color: red;
}
.registerbtn{
    background-color: aqua;
}